<script src="~/js/salas_index.js"></script>

<div class="container">
    <h1>Salas disponibles</h1>

    <div class="card">
        <div class="card-header bg-light">

            <div class="row">
                @(Html.Kendo().DropDownList()
                    .Name("lbx_tiposdesala")
                    .AutoBind(true).Filter(FilterType.Contains)
                    .SelectedIndex(0)
                    .OptionLabel("seleccione sala")
                    .DataSource(d => d.Read("GetList", "TipoDeSala")
                    )
                    .DataTextField("Descripcion")
                    .DataValueField("Id")

                    )
            </div>
            <div class="row p-2 ">
                @(Html.Kendo().Button().Name("Btn_Listar")
                    .Icon("list").Content("Listar")
                    .Events(e => e.Click("listarSalas"))
                    )

            </div>
        </div>

        <div class="card-body">
            @(
                Html.Kendo().Grid<SalasDeEnsayoDTO>()
                .Name("Grilla_Salas")
                .DataSource(d =>
                {
                    d.WebApi()
                    .Group(g => g.Add(p => p.Tipo.Descripcion))
                    .Read(r => r.Action("GetSalas", "Salas").Data("parametrosGrilla"));
                })
                .Columns(c =>
                {
                    c.Bound(p => p.Descripcion).Title("Descripción de Sala").Filterable(true);
                    c.Bound(p => p.Tipo.Descripcion).Title("Tipo de Sala").Filterable(true);
                    c.Bound(p => p.Id).Filterable(false);


                })
                .AutoBind(false)
                .Filterable()
                .Pageable()
                .Groupable()
                .Scrollable()
                .Sortable()
                .ToolBar(t => { t.Pdf(); t.Excel(); })
                )





        </div>








    </div>


</div>

