@{
    ViewData["Title"] = "Home Page";
    //string error = ViewData["missingData"] as string;
}
@using (Html.BeginForm("GuardarInstrumento", "Instrumento", FormMethod.Post))
{
    <div class="row">
        <div class="col-3">
            @(Html.Kendo()
                .TextBox()
                .Name("tbx_marca").Placeholder("Marca")
                .Label(l => l.Content("Marca")))
           
        </div>

        <div class="col-3">
            @(Html.Kendo()
                .TextBox()
                .Name("tbx_descripcion").Placeholder("Descripción")
                .Label(l => l.Content("Descripción")))
        </div>
    </div>

    <div class="row text-center p-2">
        <div class="col-5">
            @(Html.Kendo().Button().Name("btn_submit")
                .Content("Crear")
                .Icon("plus")
                )
            @*@if (error != null)
            {
                <span class="text-danger">
                    @error
                </span>
            }*@
        </div>
    </div>
}