@{
    ViewData["Title"] = "Home Page";

}
<div class="container">
    @using (Html.BeginForm("GuardarSala", "Salas", FormMethod.Post))
    {
        <div class="row">
            <div class="col-1">
                <label>Tipos de Sala:</label>
            </div>
            <div class="col-5">
                @(Html.Kendo().DropDownList()
                    .Name("lbx_tiposdesala")
                    .AutoBind(true).Filter(FilterType.Contains)
                    .SelectedIndex(0)
                    .OptionLabel("seleccione sala")
                    .DataSource(d => d.Read("GetList", "TipoDeSala"))
                    .DataTextField("Descripcion")
                    .DataValueField("Id")

                    )
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                @(Html.Kendo()
                    .TextBox()
                    .Name("tbx_descripcion").Placeholder("Descripción")
                    .Label(l => l.Content("Descripción")))

            </div>
        </div>
        <div class="row text-center p-2">
            <div class="col-5">
                @(Html.Kendo().Button().Name("btn_submit")
                    .Content("Crear")
                    .Icon("plus")
                    )

            </div>
        </div>
    }










</div>