@model ReservaFechaYHoraDTO
<h1>
    Editor
    @if (Model != null)
    {
        var ob = Model;
    }
</h1>
@(Html.Kendo().DropDownList()
                    .Name("tipodesalaid")

                    .AutoBind(true).Filter(FilterType.Contains)
                    .SelectedIndex(0)
                    .OptionLabel("seleccione sala")
                    .DataSource(d => d.Read("GetList", "TipoDeSala")
                    )
                    .DataTextField("Descripcion")
                    .DataValueField("Id")

                    )