<script src="~/js/reservas_index.js"></script>

<div class="container">
    <div class="card p-5">

        <div class="card-header">
            @Html.Partial("_TiposDeSala")
        </div>

        <div class="card-body">
        @(Html.Kendo().Form<ReservaDTO>()
            .Name("formReserva")
            .HtmlAttributes(new { action = @Url.Action("GuardarReserva", "Reserva"), method = "POST" })
            .ButtonsTemplate("<button class='k-button k-primary k-form-submit' type='submit'>Generar Reserva</button>")
            .Validatable(v =>
            {
                v.ValidationSummary(false);
                v.ErrorTemplate("<span class='k-form-error'>#:message#</span>");
            })
            .Items(items =>
            {
                items.AddGroup()
                .Items(i =>
                {

                    i.Add()
                .Field(f => f.SalaDeEnsayoId)
                .Editor(e => e.DropDownList()
                .AutoBind(false).Filter(FilterType.Contains)
                .SelectedIndex(0)
                .OptionLabel("Salas")
                    .DataSource(d => d.Read(r => r.Action("GetSalasReserva", "Salas").Data("parametros"))
                    )
                .DataTextField("Descripcion")
                .DataValueField("Id")
                )
                .Label(l => l.Text("Seleccione la Sala:"));

                    i.Add()
                .Field(f => f.FechaDesde).Name("fechadesde")
                    .Editor(e => e.DateTimePicker().Format("dd/MM/yyyy HH:mm").Min(DateTime.Now.AddDays(1)).DateInput())
                .Label(l => l.Text("Fecha Desde:").Optional(false));

                    i.Add()
                .Field(f => f.FechaHasta).Name("fechahasta")
                    .Editor(e => e.DateTimePicker().Format("dd/MM/yyyy HH:mm").Min(DateTime.Now.AddDays(1)).DateInput())
                .Label(l => l.Text("Fecha Hasta:").Optional(false));

                });
            })
            )
        </div>

    </div>

</div>
